[Desktop Entry]
Name=VisualVM
Comment=All-in-One Java Troubleshooting Tool
Type=Application
Categories=Development;Java
Exec=/opt/visualvm/bin/visualvm -J-Djdk.gtk.version=2
Icon=/opt/visualvm/icon.svg
